@charset "UTF-8";

/* Todas as demais midias */

/* Pesquisar por Typical Device Brakpoints 
------------------------------------------

Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: de 768px até 992px
Desktop: de 992px até 1200px
Grandes telas: acima de 1200px

*/

/* Impressão */
@media print {

    * {
        font-family: 'Courier New', Courier, monospace;
    }

    body {
        /* Não conseguimos imprimir background */
        background-image: url(../imagens/back-print.jpg);   
    }

    main {
        width: 90%;
        border: 2px solid black;
    }

    main::after {
        content: 'Essa impressão foi feita através do site www.cursoemvideo.com';
        text-decoration: overline;
    }

    main h1 {
        text-shadow: none;
        color: black;
    }

    img#phone {
        display: none;
    }

    img#print {
        display: block;
    }

}

/* 
Posso ignorar essas configurações pois já fiz o site em mobile first
@media screen and (max-width: 600px) {

}

@media screen and (min-width: 600px) and (max-width: 768px) {

} */

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 992px) {

    body {
        background-image: url(../imagens/back-tablet.jpg);
    }

    img#phone {
        display: none;
    }

    img#tablet {
        display: block;
    }

}

/* Desktop */
@media screen and (min-width: 992px) and (max-width: 1200px) {

    body {
        background-image: url(../imagens/back-pc.jpg);
    }

    img#phone {
        display: none;
    }

    img#tablet {
        display: none;
    }

    img#pc {
        display: block;
    }

}

/* Grandes telas */
@media screen and (min-width: 1200px) {

    body {
        background-image: url(../imagens/back-tv.jpg);
    }

    main {
        width: 700px;
    }

    img#phone {
        display: none; 
    }

    img#pc {
        display: none;
    }

    img#tv {
        display: block;
    }

}